.carousel .item > .center  {
    display: block;   margin:0 auto;
}

.centrar {
    display: block;   margin:0 auto;
}

.borderfoto
{
   padding:1px;
   border:1px solid #021a40;	
}

.margentopcarrousel
{
        margin-top: -65px;
}

.margentop
{
    margin-top: 10px;
}

.roundeborder
{
    -webkit-border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    border-radius: 21px 21px 21px 21px;
}

#adjustlogoimg
{
    margin-top: -10px;
    margin-bottom: -10px;
}

.adjustfotoimg
{
    margin-top: 30px
}


#we {
    background: #535353;
    position: relative;
}

#we span {
display: block;
width: 23px;
height: 18px;
position: absolute;
bottom: -18px;
}

#we #right {
right: 0;
background: url(../img/flag-right.gif);
}

#we #left {
left: 0;
background: url(../img/flag-left.gif);
}

#we h2,
#we p
{
   color: #FFFFFF
}

#armando
{
   width:  83px;
   height: 70px	
}
